<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Edit module</title>
</head>

<body>
    <div align="center">
        <form th:action="@{/main/teachers}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">LIST TEACHERS</button>
        </form>

        <form th:action="@{/main/modules}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">LIST MODULES</button>
        </form>

    </div>
</body>

</html>