<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit module</title>
</head>
<body>
	<div align="center">
		<h1>Edit module</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${module}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>				
					<td>module ID:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>			
				<tr>				
					<td>module Name:</td>
					<td>
						<input type="text" th:field="*{name}" />
					</td>
				</tr>
				<tr>
					<td>credit:</td>
					<td><input type="text" th:field="*{credit}" /></td>
				</tr>
				<tr>
					<td>coefficient:</td>
					<td><input type="text" th:field="*{coefficient}" /></td>
				</tr>
				<tr>
					<td>Volume Horaire Cours:</td>
					<td><input type="text" th:field="*{vh_cours}" /></td>
				</tr>
				<tr>
					<td>Volume Horaire TD:</td>
					<td><input type="text" th:field="*{vh_td}" /></td>
				</tr>
				<tr>
					<td>Volume Horaire TP:</td>
					<td><input type="text" th:field="*{vh_tp}" /></td>
				</tr>
				<tr>
					<td>Email Enseignant Cours:</td>
					<td><input type="text" th:field="*{email_ens_cours}" /></td>
				</tr>
				<tr>
					<td>Email Enseignant TD:</td>
					<td><input type="text" th:field="*{email_ens_td}" /></td>
				</tr>
				<tr>
					<td>Email Enseignant TP:</td>
					<td><input type="text" th:field="*{email_ens_tp}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>