<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Module Manager</title>
</head>

<body>
    <div align="center">
        <form th:action="@{/main/admin_home}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Dashboard</button>
        </form>
        <h1>Teachers List</h1>
        <a href="/main/new_teacher/">Create New Teacher Account</a>
        <br /><br />
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher : ${listTeachers}">
                    <td th:text="${teacher.email}">Email</td>
                    <td th:text="${teacher.firstName}">First Name</td>
                    <td th:text="${teacher.lastName}">Last Name</td>
                    
                    <td>
                        <a th:href="@{'/main/editTeacher/' + ${teacher.idTeacher}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/main/deleteTeacher/' + ${teacher.idTeacher}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>