    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Module Manager</title>
    </head>
    <body>
        <div align="center">
            <form th:action="@{/main/admin_home}" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Dashboard</button>
            </form>
            <h1>module List</h1>
            <a href="/main/new_module/">Create New module</a>
            <br/><br/>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>module ID</th>
                        <th>Name</th>
                        <th>Credit</th>
                        <th>Coefficient</th>
                        <th>Volume Horaire Cours</th>
                        <th>Volume Horaire TD</th>
                        <th>Volume Horaire TP</th>
                        <th>Email Enseignant Cours</th>
                        <th>Email Enseignant TD</th>
                        <th>Email Enseignant TP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="module : ${listmodules}">
                     <td th:text="${module.idModule}">Module ID</td>
                     <td th:text="${module.name}">Name</td>
                     <td th:text="${module.credit}">Credit</td>
                     <td th:text="${module.coefficient}">Coefficient</td>
                     <td th:text="${module.vhCours}">Volume Horaire Cours</td>
                     <td th:text="${module.vhTd}">Volume Horaire TD</td>
                     <td th:text="${module.vhTp}">Volume Horaire TP</td>
                     <td th:text="${module.emailEnsCours}">Email Enseignant Cours</td>
                     <td th:text="${module.emailEnsTd}">Email Enseignant TD</td>
                     <td th:text="${module.emailEnsTp}">Email Enseignant TP</td>
                     <td>
                        <a th:href="@{'/main/modedit/' + ${module.idModule}}">Edit</a>
                         &nbsp;&nbsp;&nbsp;
                         <a th:href="@{'/main/moddelete/' + ${module.idModule}}">Delete</a>
                     </td>
                 </tr>
             </tbody>
         </table>
     </div>    
 </body>
 </html>
