<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Teacher Home</title>
</head>

<body>
     <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <form th:action="@{/main/logout}" method="get">
        <button class="btn btn-danger" type="Submit">LOGOUT</button>
    </form>
    <form th:action="@{'/main/edit_teacher_password/' + ${teacher.idTeacher}}" method="get">
        <button class="btn btn-primary" type="Submit">Change Password</button>
    </form>
    <div align="center">
        
        <h1>
            <th:block th:utext="${teacher.email}" />
        </h1>
    </div>
    
    <div align="center">
        <h3>COURS</h3>
        <table border="1" cellpadding="10" class= "table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="module : ${modulesCours}">
                    <td th:text="${module.name}">Name</td>
                    <td>
                        <a th:href="@{'/main/showModuleTeacher/' + ${module.idModule} + '/' + ${teacher.idTeacher}}">SHOW</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div align="center">
        <h3>TD</h3>
        <table border="1" cellpadding="10" class= "table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="module : ${modulesTd}">
                    <td th:text="${module.name}">Name</td>
                    <td>
                        <a th:href="@{'/main/showModuleTeacher/' + ${module.idModule} + '/' + ${teacher.idTeacher}}">SHOW</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div align="center">
        <h3>TP</h3>
        <table border="1" cellpadding="10" class= "table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="module : ${modulesTp}">
                    <td th:text="${module.name}">Name</td>
                    <td>
                        <a th:href="@{'/main/showModuleTeacher/' + ${module.idModule} + '/' + ${teacher.idTeacher}}">SHOW</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    </div>
</body>

</html>
