<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Teacher Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <form th:action="@{/main/logout}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">LOGOUT</button>
    </form>
    <div align="center">
        
        <h1>
            <th:block th:utext="${teacher.email}" />
        </h1>
    </div>
    
    <div align="center">
        <h3>COURS</h3>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="module : ${modulesCours}">
                    <td th:text="${module.name}">Name</td>
                    <td>
                        <a th:href="@{'/main/showModuleTeacher/' + ${module.idModule} + '/' + ${teacher.idTeacher}}">SHOW</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div align="center">
        <h3>TD</h3>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="module : ${modulesTd}">
                    <td th:text="${module.name}">Name</td>
                    <td>
                        <a th:href="@{'/main/showModuleTeacher/' + ${module.idModule} + '/' + ${teacher.idTeacher}}">SHOW</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div align="center">
        <h3>TP</h3>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="module : ${modulesTp}">
                    <td th:text="${module.name}">Name</td>
                    <td>
                        <a th:href="@{'/main/showModuleTeacher/' + ${module.idModule} + '/' + ${teacher.idTeacher}}">SHOW</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    


</body>

</html>